<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

<body>


  <div class="wrap">
    <table>
      <thead>
        <div id="userList">
          <h1>USER LIST</h1>
          <p id="numUser">Number of Users: <%= userList.length %>
          </p>
        </div>

        <div>
          <a href="/insertuser">
            <input type="submit" value="Create User">
          </a>
        </div>

        <div id="tablecontent">
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th colspan="2">Edit users</th>

          </tr>
      </thead>
      <tbody>
        <% userList.forEach((user)=> { %>
          <tr>
            <td class="cell">
              <%=user.id %>
            </td>
            <td class="cell">
              <%= user.email %>
            </td>
            <td class="cell">
              <%= user.firstname %>
            </td>
            <td class="cell">
              <%= user.lastname %>
            </td>
            <td class="edit"><a href="/edituser/<%= user.id %>" class="edit-link">Update</a></td>
            <td class="edit"><a href="/deleteuser/<%= user.id %>" class="edit-link">Delete</a></td>
          </tr>
          <% }) %>
      </tbody>
  </div>
  </div>
  </table>

  </div>

</body>

</html>